@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background-image: url(../img/keyboard_mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: absolute;
	height: 100%;
	width: 100%;
}


.container .header .contact .socials {
	margin-right: 2em;
    background-color: white;
    padding: 0.3em 3em;
    margin-bottom: 1em;
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .header .contact .socials a{
	font-size: 1.8em;
}

.container .header .contact .socials .fa-facebook-official {
	color: #4267b2;
}

.container .header .contact .socials .fa-twitter {
	color: #1da1f2;
}

.container .header .contact .socials .fa-linkedin-square {
	color: #0077B5;
}

.container .header .contact .socials .fa-github {
	color: #24292e;
}

.container .header, .container .skills_experiencie, .container .footer {
	display: flex;
	flex-direction: column;
}

.container .header {
	justify-content: space-between;
	padding: 10px 10px;	
    color: white;
	margin-top: 15px;
}

.container .header .info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .header .info .avatar {
	height: 100px;
	width: 100px;
	margin-right: 1em;
	border-radius: 50%;
} 

.container .header .info h1 {
	margin: 0;
	font-size: 2em;
    text-align: center;
	margin-top: 10px;
}

.container .header .info p {
	margin-top: 5px;
	font-size: 15px;
    color: #bdbdbd;
    font-style: italic;
    text-align: center;
}

.container .header .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
}

.container .header .contact .email {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.container .header .contact .email .email_description .icon, .container .header .contact .email .celNum .icon {
	border-radius: 50%;
	padding: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;	
	color: white;
	margin-right: 5px;
}

.container .header .contact .email .email_description, .container .header .contact .email .celNum  {
	display: flex;
	align-items: center;
}

.container .header .contact .email .email_description {
	margin-bottom: .3em;
}

.container .header .contact .email .email_description .icon {	
	background-color:  #d82b45;
	font-size: 1em;
}

.container .header .contact .email .celNum .icon {
	background-color:  #48cfad;
	font-size: 1.5em;
}

.container .skills_experiencie {
	display: flex;
}

.container .skills_experiencie .skills {
	display: flex;
	justify-content: center;
	padding-bottom: 0;
}

.container .footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
    color: #c1c1c1;
	padding: 1em;
}

.container .footer p{
	text-align: center;
	margin-bottom: 1em;
}

.container .footer span {
    display: flex;
    justify-content: space-between;
    align-items: center;
       padding: .2em;
    background-color: black;
    letter-spacing: .5px;
    border: 1px solid white;
}

.container .footer span a {
	text-decoration: none;
	color: white;
	spa
}