@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html { 
  background: url(../img/keyboard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.container .header, .container .skills_experiencie, .container .footer {
	display: flex;
}

.skills_experiencie .skills, .skills_experiencie .experiencie {
	height: 450px;
	width: 100%;
}

.container .header {
	justify-content: space-between;
	padding: 20px 35px;	
    color: white;
}

.container .header .info {
	display: flex;
	flex-direction: row;
}

.container .header .info .avatar {
	height: 100px;
	width: 100px;
	margin-right: 1em;
	border-radius: 50%;
} 

.container .header .info h1 {
	margin: 0;
	font-size: 2em;
}

.container .header .info p {
	margin-top: 5px;
	font-size: 15px;
    color: #bdbdbd;
    font-style: italic;
}

.container .header .contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    margin-right: 3em;
}

.container .header .contact .socials {
	margin-right: 2em;
	background-color: white;
	border-radius: 5px;
	padding: 0.3em  0.6em;
}

.container .header .contact .socials a{
	font-size: 1.8em;
}

.container .header .contact .socials .fa-facebook-official {
	color: #4267b2;
	margin-right:  5px;
}

.container .header .contact .socials .fa-twitter {
	color: #1da1f2;
	margin-right: 5px;
}

.container .header .contact .socials .fa-linkedin-square {
	color: #0077B5;
	margin-right:  5px;
}

.container .header .contact .socials .fa-github {
	color: #24292e;
}

.container .header .contact .email {
	display: flex;
	flex-direction: column;
}

.container .header .contact .email .email_description .icon, .container .header .contact .email .celNum .icon {
	border-radius: 50%;
	padding: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;	
	color: white;
	margin-right: 5px;
}

.container .header .contact .email .email_description, .container .header .contact .email .celNum  {
	display: flex;
	align-items: center;
}

.container .header .contact .email .email_description {
	margin-bottom: .3em;
}

.container .header .contact .email .email_description .icon {	
	background-color:  #d82b45;
	font-size: 1em;
}

.container .header .contact .email .celNum .icon {
	background-color:  #48cfad;
	font-size: 1.5em;
}

.container .skills_experiencie {
	justify-content: center;
}

.container .footer {
    display: flex;
	justify-content: center;
	font-size: 15px;
    color: #c1c1c1;
	padding: 1em;
}

.container .footer p{
	margin-right: 1em;
}