@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html { 
  background: url(../img/keyboard.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.container .header, .container .skills_experiencie, .container .footer {
	display: flex;
}

.skills_experiencie .skills, .skills_experiencie .experiencie {
	height: 450px;
	width: 100%;
}

.container .header {
	justify-content: space-between;
	padding: 20px 35px;	
    color: white;
}

.container .header .info {
	display: flex;
	flex-direction: row;
}

.container .header .info .avatar {
	height: 100px;
	width: 100px;
	margin-right: 1em;
	border-radius: 50%;
} 

.container .header .info h1 {
	margin: 0;
	font-size: 2em;
}

.container .header .info p {
	margin-top: 5px;
	font-size: 15px;
    color: #bdbdbd;
    font-style: italic;
}

.container .header .contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    margin-right: 3em;
}

.container .header .contact .socials {
	margin-right: 2em;
}

.container .header .contact .email {
	display: flex;
	flex-direction: column;
}

.container .header .contact .email span:first-child {
	margin-bottom: 0.4em;
}

.container .skills_experiencie {
	justify-content: center;
}

.container .footer {
    display: flex;
	justify-content: center;
	font-size: 15px;
    color: #c1c1c1;
	padding: 1em;
}

.container .footer p{
	margin-right: 1em;
}